    @{
    ViewData["Title"] = "Nuovo Taglia";
    }

    <h2>Inserimento nuovo Taglia</h2>


    <form action="/Taglia/Aggiungi">

        <input type="text" placeholder="Nome Taglia.." name="nome" /><br />
        <input type="submit" value="Salva" />

    </form>
