
@{
    ViewData["Title"] = "Nuovo prodotto";
}

<h2>Inserimento nuovo prodotto</h2>


<form action="/Prodotto/Aggiungi">

    <input type="text" placeholder="Nome.." name="nome" /><br />
    <input type="text" placeholder="Url Foto.." name="foto"><br />
    <input type="text" placeholder="Categoria.." name="categoria" /><br />
    <input type="text" placeholder="Prezzo.." name="prezzo" /><br />
    <br />
    <input type="submit" value="Salva" />

</form>