    @{
    ViewData["Title"] = "Nuovo colore";
    }

    <h2>Inserimento nuovo colore</h2>


    <form action="/colore/Aggiungi">

        <input type="text" placeholder="Nome colore.." name="nome" /><br />
        <input type="submit" value="Salva" />

    </form>
